// @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 200 1000;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito-Italic-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 200 1000;
  font-style: italic;
}

@font-face {
  font-family: 'Pacifico';
  src: url('/fonts/Pacifico-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Nunito', sans-serif;
}

.v-input__details {
  max-height: 20px;
  min-height: 20px;
}

.clickable:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.01);
}

.full-opacity {
  opacity: 1;
  transition: opacity var(--fade-duration) ease-in-out;
}

.faded-opacity-2 {
  opacity: 0.2;
  transition: opacity var(--fade-duration) ease-in-out;
}

.faded-opacity-0 {
  opacity: 0;
  transition: opacity var(--fade-duration) ease-in-out;
}

.shimmer {
  position: relative;
  overflow: hidden;
  border-radius: inherit;
}

.shimmer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.1) 20%,
    rgba(255, 255, 255, 0.2) 60%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 200% 100%;
  animation: shimmer 2s infinite;
  border-radius: inherit;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
